
.idea/workspace.xml

.idea/encodings.xml

.idea/fifty-shades-of-trump.iml

tweets.db

.idea/vcs.xml

.idea/modules.xml

.idea/misc.xml

__pycache__/markov_sentence_generator.cpython-35.pyc

tweets.db

*.pyc
